{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section class="image-wrapper">
  <img src="images/Alfa.webp" alt="Alfa Romeo">

  <form class="hero">
    <input type="text" placeholder="Rechercher un véhicule">
    <button type="submit">Rechercher</button>
  </form>

  <div class="vehicle-counter">
    <span class="count">{{ vehicleCount }}</span>
    <span class="label">
      {{ vehicleCount == 1 ? 'véhicule disponible' : 'véhicules disponibles' }}
    </span>
  </div>
</section>

<section>

<div class="vehicle-grid">
  {% for vehicle in vehicles %}
    <twig:vehicle_card vehicle="{{ vehicle }}" />
  {% else %}
    <p>No vehicles available.</p>
  {% endfor %}
</div>

</section>

{% endblock %}
