<header>
	<nav>
        <div>
        <a href=""><img src="" alt="">VendeurAuto</a>
        </div>
        <div>
        <a href="#">Accueil</a>
        <a href="">TEST</a>
        </div>
    </nav>
</header>
