<header>
	<nav>
        <div>
        <a href="">VendeurAuto  DEMONSTRATION</a>
        </div>
        <div class="liens">
        <a href="#">Achat</a>
        <a href="">Connexion</a>
        </div>
    </nav>
</header>
